extends layout

block content
    h1= title
    if auth
        h2 Welcome to the company portal!
        h3 flag{y0u_c4n_m0d1fy_h3ader5}
    else
        h2 You are not authorized to view this page.
        p This page is for internal use only. You must be using "CyberEagles Proprietary Browser" to access this page, which is only available on company-issued devices.