extends layout

block content
    h1= title
    p DOMPurify takes user input and sanitizes it to prevent XSS attacks. This is done by removing certain tags such as script and iframe. See if you can bypass the sanitizer and get the flag. To get the flag, you must call `alert('XSS')`. No cheating!
    form(action="/dompurify" method="post")
        input(type="text" name="input" id="input" placeholder="Enter your unsanitized HTML here")
        input(type="submit" name="submit" value="Submit")
    if sanitized
        h2 Sanitized HTML
        | !{sanitized}
    else
        h2 No HTML was provided.

    script.
        function _0x3eda(){const _0x194680=['61wANeBW','alert','apply','constructor','XSS','tqebn','cVjIh','eyncz','hfizt','4aZiCRA','716417krbAIY','(((.+)+)+)+$','1230rPWPVH','veWGl','45KKDCVK','5286029utHXii','toString','calxz','flag{xss_is_fun}','search','108KqEbzJ','PgYdK','12inpTDm','20734AGkELs','1302736xrFnLy','1384555NFanAC','209JoQisJ','484713QbuCKJ','CWzdd'];_0x3eda=function(){return _0x194680;};return _0x3eda();}function _0x5bce(_0x4f64d5,_0x3864dd){const _0x33b0f8=_0x3eda();return _0x5bce=function(_0x1156c7,_0x29c5ed){_0x1156c7=_0x1156c7-0x10d;let _0x3eda51=_0x33b0f8[_0x1156c7];return _0x3eda51;},_0x5bce(_0x4f64d5,_0x3864dd);}(function(_0x413998,_0x192d82){const _0x5b9be7=_0x5bce,_0x55eeb4=_0x413998();while(!![]){try{const _0x4677c7=parseInt(_0x5b9be7(0x125))/0x1*(parseInt(_0x5b9be7(0x11f))/0x2)+-parseInt(_0x5b9be7(0x123))/0x3*(parseInt(_0x5b9be7(0x111))/0x4)+-parseInt(_0x5b9be7(0x121))/0x5*(-parseInt(_0x5b9be7(0x11e))/0x6)+parseInt(_0x5b9be7(0x117))/0x7+-parseInt(_0x5b9be7(0x120))/0x8*(parseInt(_0x5b9be7(0x116))/0x9)+parseInt(_0x5b9be7(0x114))/0xa*(parseInt(_0x5b9be7(0x122))/0xb)+parseInt(_0x5b9be7(0x11c))/0xc*(-parseInt(_0x5b9be7(0x112))/0xd);if(_0x4677c7===_0x192d82)break;else _0x55eeb4['push'](_0x55eeb4['shift']());}catch(_0xbb7047){_0x55eeb4['push'](_0x55eeb4['shift']());}}}(_0x3eda,0x7337b),function(_0x1d89b1){const _0x57f57c=_0x5bce,_0x270ac0=(function(){const _0x54d67c=_0x5bce;if(_0x54d67c(0x115)===_0x54d67c(0x10d)){let _0xcc325a=arguments[0x0];if(_0xcc325a==_0x54d67c(0x129)){_0x196d2a(_0x54d67c(0x11a));return;}return _0x5c4f04['apply'](this,arguments);}else{let _0x43bcda=!![];return function(_0x4f28df,_0x12ab09){const _0x5a73b3=_0x43bcda?function(){const _0xc21afc=_0x5bce;if(_0xc21afc(0x110)!==_0xc21afc(0x119)){if(_0x12ab09){if(_0xc21afc(0x10e)!==_0xc21afc(0x10e)){const _0x441902=_0x32751b['apply'](_0x4a5bb3,arguments);return _0x5164e1=null,_0x441902;}else{const _0x3015ad=_0x12ab09['apply'](_0x4f28df,arguments);return _0x12ab09=null,_0x3015ad;}}}else return _0x372056['toString']()[_0xc21afc(0x11b)]('(((.+)+)+)+$')[_0xc21afc(0x118)]()[_0xc21afc(0x128)](_0x4c6810)[_0xc21afc(0x11b)](_0xc21afc(0x113));}:function(){};return _0x43bcda=![],_0x5a73b3;};}}()),_0x599a6a=_0x270ac0(this,function(){const _0x52b641=_0x5bce;if(_0x52b641(0x11d)!==_0x52b641(0x10f))return _0x599a6a[_0x52b641(0x118)]()[_0x52b641(0x11b)](_0x52b641(0x113))['toString']()[_0x52b641(0x128)](_0x599a6a)[_0x52b641(0x11b)](_0x52b641(0x113));else{if(_0x53105e){const _0x233ff3=_0xaf3fcc[_0x52b641(0x127)](_0x429f74,arguments);return _0x13f36b=null,_0x233ff3;}}});_0x599a6a(),window[_0x57f57c(0x126)]=function(){const _0x37da8f=_0x57f57c;if('TjivI'===_0x37da8f(0x124)){_0x189e2a(_0x37da8f(0x11a));return;}else{let _0x7fbb1c=arguments[0x0];if(_0x7fbb1c==_0x37da8f(0x129)){alert(_0x37da8f(0x11a));return;}return _0x1d89b1[_0x37da8f(0x127)](this,arguments);}};}(window['alert']));

