doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/education/education.css')
  body
    .hero
        .navbar
        .content
            small Welcome to
            .name
                h1 Education Portal
        .bubbles
            img(src="/images/bubble.png" alt="bubbles")
            img(src="/images/bubble.png" alt="bubbles")
            img(src="/images/bubble.png" alt="bubbles")
            img(src="/images/bubble.png" alt="bubbles")
            img(src="/images/bubble.png" alt="bubbles")
            img(src="/images/bubble.png" alt="bubbles")
        script(src="/js/education/flash.js")
    
