extends layout

block content
    h1= title
    p Metflix is a new streaming service that is going to be the next big thing.        
    if username == "guest"
        h3 Login to Metflix
        if error 
            p #{error}
        form(action="/metflix" method="post")
            input(type="email" name="email" id="email" placeholder="Enter your email address")
            br
            input(type="password" name="password" id="password" placeholder="Enter your password")
            br
            input(type="submit" name="submit" value="Submit")
    else
        center
            h3 Welcome back to Metflix, #{username}!
            p Now playing: <b>The Office: The Movie (2023) Trailer</b>
            iframe(src="https://www.youtube-nocookie.com/embed/Yx-r_Gwfjk8?autoplay=1&mute=1" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            h3 flag{no_m0re_1D0R}
