extends layout

block content
    h1= title
    p This website is a work in progress! Please check back later.
    <!-- Bob, I added the ?source=true URL query paramater for debugging. -->
    if show_flag
        h3 flag{url_p@rams_4r3_c00l}
    if show_source
        h3 I added the source paramater like you asked Bob. I hope you're happy now.
        p If you prefer an image, here you go: <a href="/images/carbon.png">carbon.png</a>
        pre.
            /* GET source page. */
            router.get('/source', function(req, res, next) {
              let show_flag = false
              let show_source = false
              // Debugging stuff, remove in production!!!
              if (req.query.source == "true") {
                show_source = true
              }
              if (req.query.flag == "true") {
                if (typeof req.query.urls != 'undefined') {
                  let urls = req.query.urls
                  if (typeof req.query.number != 'undefined') {
                    let number = req.query.number
                    if (typeof req.query.username != 'undefined') {
                      let username = req.query.username
                      if (urls.length > 1) {
                        if (number.length == 13 && parseInt(number) == 1271) {
                          let buff = new Buffer.from("YWRtaW5pc3RyYXRvcg==", "base64");
                          let text = buff.toString("ascii");
                          if (username == text) {
                            show_flag = true
                          }
                        }
                      }
                    }
                  }
                }
              }
              res.render('source', 
                { 
                  title: 'Secure Source Code',
                  show_flag: show_flag,
                  show_source: show_source
                });
            });
